body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Example background color */
}

/* Optional: Style the container */
.maincontainer {
  max-width: 600px; /* Adjust the width as needed */
  margin: auto;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.image-box {
  text-align: center; /* Center the images */
}


@media screen and (max-width: 768px) {

.maincontainer {
  max-width: 400px; /* Adjust the width as needed */
  margin: auto;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

}
    