body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Example background color */
}

#image-container {
  width: 450px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 1.5s;
  object-fit: cover;
}

