/*Animations*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
p {
    animation: fadeIn 1s ease forwards;
    opacity: 0; /* Start invisible */
}
h1 {
    animation: fadeIn 1s ease forwards 2s; /* Delay of 3s */
    opacity: 0; /* Start invisible */
}
iframe {
    animation: fadeIn 1s ease forwards 4s; /* Delay of 6s (3s after the p tag) */
    opacity: 0; /* Start invisible */
}
/* styling */
body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100vw; /* Viewport width */
    overflow: hidden;
    background-color: #0a0a0a; /* Black background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100%; /* Full height */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width and height */
    width: 100%; /* Full width */
    text-align: center;
}
h1 {
    color: whitesmoke;
    font-family: 'Baskervville', serif;
    font-style: italic;
    font-weight: 200;
    font-size: 56px;
    line-height: 84px;
}
p {
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 100px;
    line-height: 10px;
}

button, input[type="email"] {
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    width: 60%; /* Full width */
    padding: 20px; /* Consistent padding */
    margin: 10px auto; /* Consistent vertical margin, center horizontally */
    display: block; /* Display as block for full-width */
}
button {
    border: none;
    background-color: whitesmoke;
    transition: 0.1s background-color linear, 0.1s color linear;
    color: blueviolet;
    height: auto;
    text-align: center;
    cursor: pointer;
    border-color: #fff;
    font-weight: 400;
}
input[type="email"] {
    border: none;
    font-size: 16px;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid whitesmoke; /* Border for the bottom only */
    color: whitesmoke;
    border-radius: 0px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2em; /* Smaller font size */
        line-height: 1px; /* Adjust line height */
    }

    p {
        font-size: 4em; /* Smaller font size */
        line-height: 40px; /* Adjust line height */
        padding: 5px 30px 5px 30px;
    }

    button {
        font-size: 1em; /* Smaller font size */
        padding: 20px;
        margin: 0px auto 0px auto;
    }

    button, input[type="email"] {
        width: 60%; /* Full width */
        margin: 0px auto; /* Consistent vertical margin, center horizontally */
    }

    .section {
        padding: 10px; /* Add padding for smaller screens */
    }

    form {
         position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        margin: 20px auto;
    }
    input[type="email"] {
        background-color: #000000;
        border-bottom: 0px; /* Border for the bottom only */
        padding: 20px 10px 20px 10px;
    }

    input[type="email"]::placeholder {
        font-weight: 200;
    }
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 425px) {
@media screen and (max-width: 768px) {
    body {
        margin-top: -40px;
    }

    h1 {
        font-size: 1em; /* Smaller font size */
        line-height: 1px; /* Adjust line height */
    }

    p {
        font-size: 1.6em; /* Smaller font size */
        font-size: 1.4em; /* Smaller font size */
        line-height: 40px; /* Adjust line height */
        padding: 5px 30px 5px 30px;
    }
    button {
        font-size: 1em; /* Smaller font size */
        padding: 20px;
        margin: 0px auto 0px auto;
    }
    button, input[type="email"] {
        width: 90%; /* Full width */
        margin: 0px auto; /* Consistent vertical margin, center horizontally */
    }
    .section {
        padding: 10px; /* Add padding for smaller screens */
    }
    iframe {
         position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        margin: 20px auto;
    }
    input[type="email"] {
        background-color: #000000;
        border-bottom: 0px; /* Border for the bottom only */
        padding: 20px 10px 20px 10px;
    }
    input[type="email"]::placeholder {
        font-weight: 200;
    }
}
    